@use 'variaveis';

.galeria {

    &__titulo {
        margin-bottom: 1vw;
    }

    &__content {
        width: 100%;
        border-radius: 6px;
        box-shadow: 0 0 15px 3px rgba(212,125,25,0.2);
        display: flex;
        justify-content: center;
        list-style: none;

        &__coluna {
            width: 100%;
            padding: 8px;

            &__imagem {
                width: 100%;
                border-radius: 6px;
                padding: 4px;
            }
        }
    }
}