@use 'variaveis';
@use 'header';
@use 'hero';
@use 'trailer';
@use 'sinopse';
@use 'galeria';
@use 'footer';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style: none;
    border: none;
}

body {
    background-color: #3c1b2c;
}

.titulo {
    color: variaveis.$textoPrincipal;
    font-family: variaveis.$fonteTitulos;
    font-size: clamp(20px, 2.5vw, 28px);
    letter-spacing: 0.5vw;
    
}

.texto {
        font-size: 18px;
        color: variaveis.$textoPrincipal;
        font-family: variaveis.$fonteTextos;
}

section {
    padding: 10vw;
}



